.section {
  padding: 8rem 5rem;
  border-top: 1px solid #ddd;
  background-color: var(--color-secondary);

  &__title {
    max-width: 70rem;
    margin: 0 auto 6rem auto;
  }

  &__description {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-bottom: 1rem;
  }

  &__header {
    font-size: 2.75rem;
    line-height: 1;
    font-weight: 600;
    opacity: 0.75;
  }
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4rem;
  margin: 0 2rem;

  &__img {
    justify-self: center;
    width: 60%;
    max-height: 20rem;
    mix-blend-mode: darken;
    opacity: 0.85;
  }

  &__feature {
    width: 80%;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    padding: 2rem 3.5rem;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border-radius: 10px;
  }

  &__icon i {
    font-size: 1.5rem;
    padding: 1.25rem;
    color: white;
    background-color: var(--color-primary);
    opacity: 0.75;
    border-radius: 50%;
  }

  &__header {
    font-size: 1.5rem;
  }

  & p {
    line-height: 1.6rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 750px) {
  .features {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 0;

    &__img {
      display: none;
    }
  }

  .section {
    padding: 8rem 2.5rem;
  }
}
