.footer {
  padding: 5rem 3rem;
  background-color: var(--color-tertiary);

  &__nav {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto 4rem;
    max-width: 50rem;
  }

  &__item {
    font-size: 0.85rem;
    color: #000;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__logo {
    height: 5rem;
    display: block;
    margin: 0 auto;
    mix-blend-mode: darken;
  }
}

@media screen and (max-width: 575px) {
  .footer {
    padding: 2rem 0;

    &__nav {
      flex-direction: column;
      text-align: center;
      margin-bottom: 1.5rem;
    }

    &__item {
      margin-bottom: 0.5rem;
    }
  }
}
