.header {
  padding: 0 5rem;
  height: 100vh;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-secondary);

  &__container {
    background: rgb(27, 137, 148);
    background: linear-gradient(
      20deg,
      rgba(27, 137, 148, 1) 0%,
      rgba(27, 134, 147, 1) 4%,
      rgba(27, 126, 146, 1) 7%,
      rgba(27, 110, 143, 1) 9%,
      rgba(27, 102, 141, 1) 10%,
      rgba(28, 75, 136, 1) 20%,
      rgba(28, 68, 135, 1) 31%,
      rgba(29, 28, 128, 1) 62%
    );
    // border-radius: 15px 15px 0 0;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    // padding: 0 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    flex: 1;
    max-width: 115rem;
    min-height: 30rem;
    display: grid;
    grid-template-columns: 3fr 2.25fr;
    column-gap: 1.5rem;
    grid-template-rows: min-content min-content min-content 1fr;
    // height: 100%;
    // align-content: center;
    // justify-content: center;
    align-items: start;
    justify-items: start;
    color: #fff;
    margin: auto 4.5rem;

    & h1 {
      font-size: 4.25rem;
      margin-bottom: 1.5rem;
      margin-top: 1rem;
    }

    & h3 {
      font-size: 1rem;
      font-weight: 200;
      line-height: 1.75rem;
      margin-bottom: 2rem;
    }

    &--btn {
      background: none;
      border: none;
      color: var(--color-primary);
      cursor: pointer;
      border-bottom: 1px solid currentColor;
      padding-bottom: 2px;
      font-size: 1.5rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-top: 6rem;
    }
  }

  &__input {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 2.75rem;

    & input {
      border-radius: 20px 0 0 20px;
      border: none;
      padding: 0 1rem;
    }

    & button {
      border-radius: 0 20px 20px 0;
      border: none;
      color: #fff;
      background-color: var(--color-primary);
      padding: 0 1rem;
      cursor: pointer;
    }
  }

  &__img {
    width: 100%;
    height: 60%;
    margin: auto 0 auto 0;
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    mix-blend-mode: lighten;
  }
}

@media screen and (max-width: 1175px) {
  .header {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 1050px) {
  .header {
    &__title {
      display: flex;
      flex-direction: column;
      margin: 0;
      flex: none;
      width: 80%;
    }

    &__img {
      display: none;
    }
  }
}

@media screen and (max-width: 700px) {
  .header {
    padding: 0;

    &__container {
      border-radius: 0;
    }

    &__title {
      & h1 {
        font-size: 3.75rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .header {
    &__title h1 span {
      display: none;
    }
  }
}
