@import "./global/index.scss";

.section {
  padding: 8rem 5rem;
  border-top: 1px solid #ddd;
  background-color: $color-tertiary;
  transition: opacity 1s;

  &--hidden {
    opacity: 0;
  }

  &__title {
    max-width: 70rem;
    margin: 0 auto 6rem auto;
  }

  &__description {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $color-primary;
    margin-bottom: 1rem;
  }

  &__header {
    font-size: 2.75rem;
    line-height: 1;
    font-weight: 600;
    opacity: 0.75;
  }
}

@media screen and (max-width: 750px) {
  .section {
    padding: 8rem 2.5rem;
  }
}

@media screen and (max-width: 280px) {
  .section {
    padding: 8rem 1rem;
  }
}
