.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 4.5rem;
  margin: 0.75rem 0 0.5rem 0;

  &__logo {
    margin-bottom: 0.7rem;
    height: 4rem;
    mix-blend-mode: darken;

    &--mobile {
      display: none;
    }
  }

  &__links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25rem;
    margin-left: 1rem;
  }

  &__item {
    // margin-left: 3rem;
  }

  &__link {
    text-decoration: none;
    // color: var(--color-tertiary);
    color: rgb(14, 13, 70);
    font-weight: 600;
    padding: 0.5rem;

    &:hover {
      // border-bottom: 3px solid var(--color-primary);
    }
  }

  &__link--btn {
    padding: 0.8rem 2.5rem;
    border-radius: 3rem;
    background-color: var(--color-primary);
    color: #fff;
  }
}

@media screen and (max-width: 700px) {
  .nav {
    padding: 0 0.75rem 0 1rem;

    &__logo {
      display: none;

      &--mobile {
        display: block;
        margin-bottom: 0;
      }
    }

    &__links {
      width: 22rem;
    }

    &__link--btn {
      padding: 0.8rem 1.25rem;
    }
  }
}

@media screen and (max-width: 410px) {
  .nav {
    padding: 0 0.75rem 0 1rem;

    &__logo {
      display: block;
      height: 3.5rem;
      margin: 0;

      &--mobile {
        display: none;
      }
    }

    &__link {
      display: none;
    }

    &__link--btn {
      display: block;
    }
  }
}

@media screen and (max-width: 310px) {
  .nav {
    &__link--btn {
      display: none;
    }
  }
}
