.testimonial {
  width: 60%;
  position: relative;
  text-align: left;

  & i {
    position: absolute;
    top: -2rem;
    left: -4rem;
    font-size: 3rem;
    color: var(--color-primary);
  }

  &__header {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  &__text {
    font-size: 1.25rem;
    margin-bottom: 3.5rem;
    color: #666;
    font-weight: 300;
    line-height: 2rem;
  }

  &__author {
    margin-left: 3rem;
    display: grid;
    grid-template-columns: 5rem 1fr;
    column-gap: 2rem;
  }

  &__photo {
    grid-row: 1 / span 2;
    border-radius: 50%;
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 500;
    align-self: end;
    margin: 0;
  }

  &__location {
    font-size: 1rem;
    color: #666;
    font-weight: 300;
  }
}

.carousel__btn {
  position: absolute;
  color: black;
  z-index: 2;
  top: calc(50% - 25px);
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  background-color: white;
  padding: 1rem 1.25rem;
  border-radius: 50%;

  &--right {
    right: 2rem;
  }

  &--left {
    left: 2rem;
  }
}

.carousel .slide {
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.carousel-root {
  max-width: 100rem;
  margin: 0 auto;
}

@media screen and (max-width: 750px) {
  .testimonial {
    width: 50%;
  }

  .carousel__btn {
    &--left {
      left: 0rem;
    }

    &--right {
      right: 0rem;
    }
  }

  .carousel .slide {
    height: 45rem;
    width: 100vw;
  }
}
