@import "../../styles/global/variables";

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4rem;
  margin: 0 auto;
  max-width: 70rem;

  &__img {
    justify-self: center;
    align-self: center;
    width: 60%;
    max-height: 20rem;
    mix-blend-mode: darken;
  }

  &__feature {
    width: 90%;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2.5rem 3.5rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
  }

  &__icon i {
    font-size: 1.5rem;
    padding: 1.25rem;
    color: #fff;
    background-color: $color-primary;
    opacity: 0.75;
    border-radius: 50%;
    margin-bottom: 1.25rem;
  }

  &__header {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }

  & p {
    line-height: 1.6rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 750px) {
  .features {
    grid-template-columns: 1fr;

    &__feature {
      width: 100%;
    }

    &__img {
      display: none;
    }
  }
}

@media screen and (max-width: 450px) {
  .features {
    &__feature {
      padding: 1.5rem 2rem;
    }
  }
}
